@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face{
    font-family: Fighter;
    src: url('font/STRIGER.otf') format('opentype'), url('font/STRIGER.ttf') format('truetype');
}

h1{
    font: italic normal 4em "Amatic SC", sans-serif;
}

h2{
    font: normal bolder 2em Fighter;
}